pkgbase = junior-desktop
	pkgdesc = The desktop app for Junior
	pkgver = 2.0.46
	pkgrel = 1
	url = https://github.com/Andrew-AI-JR/Desktop-Releases
	arch = x86_64
	license = ISC
	makedepends = imagemagick
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: for system tray support
	options = !strip
	options = !emptydirs
	source = junior-desktop_2.0.46_amd64.deb::https://github.com/Andrew-AI-JR/Desktop-Releases/releases/download/v2.0.46/junior-desktop_2.0.46_amd64.deb
	sha256sums = e7ddc71bb567d2b50e9a3810583a3ba972f9cb994e097fd66926b4a8969ee5e9

pkgname = junior-desktop
